body {
    background-image: url("../images/landscape.jpg");
}
.container {
    width: 100%;
    margin-top: 10px;
    align-content: center;
}
h1 {
    font-family: "Cormorant Unicase", serif;
    font-size: 60px;
    font-weight: bold;
    color:yellow;
}
span {
    font-size: 26px;
    color: yellow;
    font-weight: bold;
}
p {
    line-height: 1.4;
    font-family: "Cormorant Unicase", serif;
    font-size: 22px;
    font-weight: bold;
    color:black;
    background-color: rgba(236, 201, 85, 0.4);
    padding: 10px;
}
.target-text, .score-text {
    font-size: 50px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}
.wins-text, .losses-text {
    font-size: 30px;
    font-weight: bold;
    color: yellow;
    text-align: center;
}
.card-title {
    text-align: center;
}
.card-body {
    background-color:  rgb(37, 240, 240);
    align-content: center;
}
h5 {
    font-family: "Cormorant Unicase", serif;
    font-size: 28px;
    color: black;
}
button {
    margin-top: 20px;
    margin-bottom: 12px;
    padding: 10px;
}